
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


#loginform {
    width: 320px;
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 15px;
}


#loginform input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #999;
    font-size: 14px;
    outline: none;
    transition: 0.2s;
}


#loginform input:focus {
    border-color: #7b3fe4;
    box-shadow: 0 0 5px rgba(123, 63, 228, 0.5);
}


#btn {
    padding: 12px;
    background: #7b3fe4;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

#btn:hover {
    background: #5d2eb5;
}


a {
    display: block;
    margin-top: 12px;
    text-align: center;
    font-size: 14px;
    color: #4a2677;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}
